tests/soap-wsdl-literal.sample.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://globinch.com" name="MyJaxWSHelloService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://globinch.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema>

        </xsd:schema>
    </types>

    <message name="getGreetingRequest">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="getGreetingResponse">
        <part name="GreetingResponse" type="xsd:int"/>
    </message>

    <message name="getDeleteRequest">
        <part name="Identifier" type="xsd:int"/>
    </message>
    <message name="getDeleteResponse">
        <part name="DeleteResponse" type="xsd:bool"/>
    </message>

    <portType name="MyJaxWSHello">
        <operation name="getGreeting" parameterOrder="name">
            <input message="tns:getGreetingRequest"/>
            <output message="tns:getGreetingResponse"/>
        </operation>
        <operation name="deleteGreeting" parameterOrder="name">
            <input message="tns:getDeleteRequest"/>
            <output message="tns:getDeleteResponse"/>
        </operation>
        <operation name="add" parameterOrder="name">
            <input message="tns:getDeleteRequest"/>
            <output message="tns:getDeleteResponse"/>
        </operation>
    </portType>

    <binding name="MyJaxWSSEIPortBinding" type="tns:MyJaxWSHello">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="getGreeting">
            <soap:operation soapAction=""/>
            <input><soap:body use="literal" namespace="http://globinch.com"/></input>
            <output><soap:body use="literal" namespace="http://globinch.com"/></output>
        </operation>
        <operation name="deleteGreeting">
            <soap:operation soapAction=""/>
            <input><soap:body use="literal" namespace="http://globinch.com"/></input>
            <output><soap:body use="literal" namespace="http://globinch.com"/></output>
        </operation>
        <operation name="add">
            <soap:operation soapAction=""/>
            <input><soap:body use="literal" namespace="http://globinch.com"/></input>
            <output><soap:body use="literal" namespace="http://globinch.com"/></output>
        </operation>
    </binding>

    <service name="MyJaxWSHelloService">
        <port name="MyJaxWSSEIPort" binding="tns:MyJaxWSSEIPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

<!-- source: http://java.globinch.com/enterprise-java/web-services/soap-binding-document-rpc-style-web-services-difference/ -->
