examples/basic/soap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions
        name="router"
        targetNamespace="urn:router"
        xmlns:typens="urn:router"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/1999/XMLSchema-instance"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="urn:router">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:complexType name="Item">
                <xsd:sequence>
                    <xsd:element name="Code" type="xsd:string" nillable="true"/>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Quantity" type="xsd:integer"/>
                    <xsd:element name="Enabled" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="pingRequest">
        <part name="Input" type="xsd:string"/>
    </message>
    <message name="pingResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="getItemRequest">
        <part name="Code" type="xsd:string"/>
    </message>
    <message name="getItemResponse">
        <part name="Item" type="typens:Item"/>
    </message>
    <message name="getErrorRequest">
        <part name="Input" type="xsd:string"/>
    </message>
    <message name="getErrorResponse">
        <part name="Return" type="xsd:string"/>
    </message>

    <portType name="PortType">
        <operation name="ping">
            <input message="typens:pingRequest"/>
            <output message="typens:pingResponse"/>
        </operation>
        <operation name="getItem">
            <input message="typens:getItemRequest"/>
            <output message="typens:getItemResponse"/>
        </operation>
        <operation name="getError">
            <input message="typens:getErrorRequest"/>
            <output message="typens:getErrorResponse"/>
        </operation>
    </portType>

    <binding name="Binding" type="typens:PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="ping">
            <soap:operation soapAction="urn:Action"/>
            <input>
                <soap:body namespace="urn:router" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:router" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

        <operation name="getItem">
            <soap:operation soapAction="urn:Action"/>
            <input>
                <soap:body namespace="urn:router" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:router" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

        <operation name="getError">
            <soap:operation soapAction="urn:Action"/>
            <input>
                <soap:body namespace="urn:router" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:router" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="Service">
        <port name="Port" binding="typens:Binding">
            <soap:address location="http://localhost/"/>
        </port>
    </service>
</definitions>